<div class="container technical-integration">
    <h2 class="title is-2">Template Logic</h2>
    <div class="content">
        <p>
            Find the full logic for this template on <a href="https://github.com/accordproject/cicero-template-library/tree/master/src/{{template.getMetadata().getName()}}/logic">on GitHub.</a>
        </p>
    </div>

    <h4 class="title is-4">State Types</h4>
    <table class="table box">
        <thead>
            <tr>
                <th>Type</th>
                <th>Sample JSON</th>
            </tr>
        </thead>
        <tbody>
            {% for type, sample in stateTypes |dictsort%}
                <tr>
                    <th>{{type}}</th>
                    <td><pre style="{{pre_style}}"><code class="json" style="{{code_style}}">{{sample}}</code></pre></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="title is-4">Request Types</h4>
    <table class="table box">
        <thead>
            <tr>
                <th>Type</th>
                <th>Sample JSON</th>
            </tr>
        </thead>
        <tbody>
            {% for type, sample in requestTypes |dictsort%}
                <tr>
                    <th>{{type}}</th>
                    <td><pre style="{{pre_style}}"><code class="json" style="{{code_style}}">{{sample}}</pre></code></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="title is-4">Response Types</h4>
    <table class="table box">
        <thead>
            <tr>
                <th>Type</th>
                <th>Sample JSON</th>
            </tr>
        </thead>
        <tbody>
            {% for type, sample in responseTypes |dictsort%}
                <tr>
                    <th>{{type}}</th>
                    <td><pre style="{{pre_style}}"><code class="json" style="{{code_style}}">{{sample}}</pre></code></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="title is-4">Events Types</h4>
    <table class="table box">
        <thead>
            <tr>
                <th>Type</th>
                <th>Sample JSON</th>
            </tr>
        </thead>
        <tbody>
            {% for type, sample in eventTypes |dictsort%}
                <tr>
                    <th>{{type}}</th>
                    <td><pre style="{{pre_style}}"><code class="json" style="{{code_style}}">{{sample}}</pre></code></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="title is-2">Technical Integration</h2>
    <div class="content">
        <p>
            Please refer to the Accord Project documentation for how to <a href="https://docs.accordproject.org/docs/started-hello">use a template</a> or <a href="https://docs.accordproject.org/docs/tutorial-nodejs">integrate it within your application.</a>
        </p>
        <p>
            View the Latest code for this template <a href="https://github.com/accordproject/cicero-template-library/tree/master/src/{{template.getMetadata().getName()}}">on GitHub.</a>
        </p>
    </div>

</div>