{% extends "page.njk" %}

{% block body %}
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            Accord Project <span class="has-light">Template Library</span>
          </h1>
          <h2 class="subtitle">
            This library contains all Accord Project contract and clause templates. Templates are captured using the Accord Project Cicero format. To contribute new templates (or fix existing templates), you can fork this <a href="https://github.com/accordproject/cicero-template-library" target="_blank">GitHub</a> repository and submit pull requests to the maintainers.
          </h2>
        </div>
      </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="title is-2">Templates</h2>
            <table class="table box versions">
            <thead>
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Cicero Version</th>
                <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for name, val in templateIndex |dictsort%}
                <tr>
                <th>
                  <a href="{{name}}.html">
                    {% if val.displayName %}
                      {{val.displayName}}
                    {% else %}
                      {{name}}
                    {% endif %}
                  <a>
                </th>
                <td>{{val.description}}</td>
                <td>{{val.ciceroVersion}}</td>
                <td>{% if val.type === 0 %}Contract{% else %}Clause{% endif %}</td>
                {% endfor %}
            </tbody>            
            <tfoot>
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Cicero Version</th>
                <th>Type</th>
                </tr>
            </tfoot>
            </table>
            <div class="content">
                <a href="template-library.json" target="_blank">Template Library Index</a>
            </div>
        </div>
    </section>

{% endblock %}