{% extends "page.njk" %}

{% block unfurl %}
<!-— facebook open graph tags -->
<meta property="og:url" content="{{serverRoot}}/{{filePath}}" />
<meta property="og:title" content="{{template.getIdentifier()}}" />
<meta property="og:description" content="{{template.getMetadata().getDescription()}}" />
<meta property="og:image" content="{{umlCardURL}}" />

<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:title" content="{{template.getIdentifier()}}" />
<meta name="twitter:description" content="{{template.getMetadata().getDescription()}}" />
<meta name="twitter:image" content="{{umlCardURL}}" />
<meta name="twitter:image:alt" content="UML diagram of {{template.getIdentifier()}} namespace." />
<meta name="twitter:url" content="{{serverRoot}}/{{filePath}}" />
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Template {{template.getIdentifier()}}
            </h1>
            <div class="tags">
                <span class="tag">{% if template.getMetadata().getTemplateType() === 0 %}Contract{% else %}Clause{% endif %}</span>
                <span class="tag">{% if template.getMetadata().getLanguage() === 0 %}Ergo{% else %}JavaScript{% endif %}</span>
                <span class="tag">{{template.getMetadata().getTargetVersion()}}</span>
                <span class="tag">{{template.getHash()}}</span>
            </div>
            <p class="subtitle">
                {{template.getMetadata().getDescription()}}
            </p>

            <p>
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Versions</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                        {% for name in templateVersions |sort(true)%}
                            <a href="{{name}}.html" class="dropdown-item {{"is-active" if name === template.getIdentifier()}}">
                                {{name}}
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <a href="./archives/{{template.getIdentifier()}}.cta" class="button is-rounded">Download Archive</a>
                <a href="{{studioURL}}" class="button is-rounded">Open in Template Studio</a>
            </p>

            <img src="{{umlURL}}" />

            <div class="content">
                <p>
                {{readmeHtml}}
                </p>
            </div>

            <h4 class="title is-4">Sample</h4>
            <div class="content">
                <pre style="{{pre_style}}">
{{template.getMetadata().getSample()}}
                </pre>
            </div>

            <h4 class="title is-4">Model Dependencies</h4>
            <div class="content">
                <ul>
                {% for ns, uri in template.getTemplateModel().getModelFile().getExternalImports() %}
                <li><a href="{{uri | replace(".cto", ".html")}}">{{ns}}</a></li>
                {% else %}
                  <li>None</li>
                {% endfor %}
                </ul>
            </div>

            {% include "developers.njk" %}
        </div>
    </section>
{% endblock %}