{% extends "page.njk" %}

{% block unfurl %}
<!-— facebook open graph tags -->
<meta property="og:url" content="{{serverRoot}}{{filePath}}" />
<meta property="og:title" content="{{template.getIdentifier()}}" />
<meta property="og:description" content="{{template.getMetadata().getDescription()}}" />
<meta property="og:image" content="{{umlURL}}" />

<!-— twitter card tags additive with the og: tags -->
<meta name="twitter:title" value="{{template.getIdentifier()}}" />
<meta name="twitter:description" value="{{template.getMetadata().getDescription()}}" />
<meta name="twitter:image" content="{{umlURL}}" />
<meta name="twitter:url" value="{{serverRoot}}{{filePath}}" />
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Template {{template.getIdentifier()}}
            </h1>
            <p class="subtitle">
                {{template.getMetadata().getDescription()}}
            </p>

            <p>
                <a href="{{filePath | replace(".html", ".cta")}}" class="button is-rounded">Download</a>
            </p>

            <h2 class="title is-2">README</h2>
            <div class="content">
                <p>
                {{readmeHtml}}
                </p>
            </div>

            <h2 class="title is-2">Sample</h2>
            <div class="content">
                <p>
                {{template.getMetadata().getSample()}}
                </p>
            </div>
        </div>
    </section>
{% endblock %}