name: Build

on:
    push:
    pull_request:
        branches:
            - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
    build:
        name: Unit Tests

        strategy:
            matrix:
                node-version:
                    - 18.x
                    - 20.x
                os:
                    - ubuntu-latest
                    - windows-latest
                    - macOS-latest

        runs-on: ${{ matrix.os }}

        steps:
            - name: git checkout
              uses: actions/checkout@v4

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}

            - run: npm ci
            - run: npm test
